$custom-font-size: 20px;
$dropdown-padding-x: 10px;
$dropdown-border-radius: 0px;
$dropdown-min-width: 220px;
$btn-padding-y: 5px;
$btn-padding-x: 5px;
$btn-border-radius: 0px;
$o-hover-color: #a8f5d9;
$title-color: white;